.store-container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.left {
  flex: 1.8;
  padding-right: 1rem;
  border-right: 2px solid #ddd;
}

.right {
  flex: 1;
  padding-left: 1rem;
}

.category-list {
  width: 100%;
  max-width: 300px;
}

h3 {
  margin-bottom: 0.5rem;
}
